@import "./mixins.scss";

.loader{
    animation: 1.8s appear;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
}

.sectionPresent{
    width: 100vw;
    height: 130vh;
    max-width: 100%;
    padding: 1rem;
}

.front{
  width: 100%;
  height: 100vh;
  @include shadow-light;
  @include border-card;
  @include background;
  overflow: hidden;
  h1{
    color: #F2F2F2;
    font-family: 'BR Firma';
    font-weight: bold;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  }
}

.subfront{
  z-index: 2;
  margin-top: -20vh;
  height: 50vh;
  width: 100vh;
  padding: 0.85rem;
  background-color: #ffffff;
  @include shadow-light;
  @include border-card;
}

.imageSub{
  width: 100%;
  height: 100%;
  @include background;
  @include border-card;
  overflow: hidden;

  h2{
    margin: 1.2rem;
    font-weight: 600;
    color: #F2F2F2;
    font-family: 'BR Firma';
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  }
}

.image {
  @include shadow-light;
  overflow: hidden;
  @include border-card;
}

.title{
  font-family: 'BR Firma';
  font-weight: 800;
  color: #283035;
}

.image-division{
  @include border-card;
  scroll-margin-top: 80px;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: contain;
  padding: 2rem 0 2rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  h2{
      margin-top: 1rem;
      vertical-align: middle;
      font-family: 'BR Firma';
      font-weight: bold;
      color: #f2f2f2;
    }
}

.message{
  color: #283035;
  span{
      letter-spacing: 0.7rem;
  }

  .hr {
      display: inline-block;
  }

  .hr::after {
    content: '';
    display: block;
    border-top: 7px solid #283035;
    margin-top: 0.15em;
    @media(max-width: 725px){
      margin-bottom: 0.15rem;
    }
  }

  .hr:nth-child(1) {
      border-top: 7px solid #283035;
  }
}

//UIKIT

.uk-cover-container{
    @include border-card;
}

.display-none{
  display: none;
}

.uk-navbar-container{
  @include shadow-light;

  input{
    font-family: 'BR Firma';
    font-weight: 500;
  }
}

.uk-logo{
  font-family: 'BR Firma';
}

.uk-container.nav{
  background-color: #ffffff;
}

.title2{
  font-weight: 400;
}

.uk-offcanvas-bar{
  background-color: #fff;
  @include shadow-light;
  h3{
    font-size: 1.8rem;
    font-family: 'BR Firma';
    color: rgba(60, 60, 67, 0.8);
  }
  .uk-nav-default{
      li{
        font-family: 'BR Firma';
        font-weight: 500;
      }
      input{
        @include border-card;
        @include border-light;
        @include shadow-card;
      }
      .uk-nav-sub{
        li{
          font-family: 'BR Firma';
          font-weight: normal;
        }
      }
  }
}

.uk-container{
  scroll-margin-top: 50px;
  &.nav{
    background-color: #fff;
  }
  .uk-card{
    @include border-card;
    @include shadow-light;
    @include border-light;
    overflow: hidden;
  }
  h2{
      font-family: 'BR Firma';
      font-weight: bold;
  }
  h3{
      font-family: 'BR Firma';
      color: rgba(60, 60, 67, 0.8);
  }
  h3.uk-card-title{
    font-family: 'BR Firma';
    color: rgba(60, 60, 67, 0.8);
  }
  p{
    font-family: 'BR Firma';
    color: rgba(60, 60, 67, 0.7);
    font-size: 1.1rem;
}
}

.uk-button{
  border-radius: 13px;
  font-family: 'BR Firma';
  font-weight: 300;
  padding: 0.5rem;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  @media(max-width: 425px)
  {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  &:hover{
    @include shadow-card;
    @include border-light;
  }
}
.uk-button-secondary{
    background-color: rgba(60, 60, 67, 0.8);
    &:hover{
        background-color: #283035;
    }
}

.card-image{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimizeSpeed;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  background-size: cover;
  border-radius: 43px;
  padding: 1.5rem;
  @media(min-width: 769px){
      padding: 2rem;
  }
  div.flex{
      width: 100%;
      height: 100%;
      display: flex;
  }
  a.button, div.contain{
      @include card-content();
  }
  div.contain{
      align-self: flex-end;
      width: 100%;
      padding: 1.2rem;
  }
  h3{
      margin: 0;
      font-family: 'BR Firma';
      font-weight: Bold;
  }
  p{
      margin: 0;
      font-family: 'BR Firma';
      font-size: 1.1rem;
      font-weight: normal;
  }
  .black{
      color: #323a3f;
      h3{
          color: #323a3f;
      }
      p{
          color: #323a3f;
      }
  }
  .light{
      color: #FDFDFE;
      h3{
          color: #FDFDFE;

      }
      p{
          color: #FDFDFE;
      }
  }
}

.card{
  h3{
    font-size: 2rem;
    font-family: 'BR Firma';
    font-weight: 800;
    color: #283035;
}
h4{
    font-family: 'BR Firma';
    color: rgba(60, 60, 67, 0.8);
}
}

.division-dark{
  @include border-card;
  scroll-margin-top: 80px;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: contain;
  padding: 2rem 0 2rem 0;
  position: relative;
  background-color: #283035;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;

  h2{
      margin-top: 1rem;
      vertical-align: middle;
      font-family: 'BR Firma';
      font-weight: bold;
      color: #f2f2f2;
    }
}

.contacto{
  h3{
    font-family: 'BR Firma';
    font-weight: Bold;
    color: #283035;
    &:hover{
        color: rgba(60, 60, 67, 1);
    }
}
}

div{
  scroll-margin-top: 80px;  
}